/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.themeplate-blocks-fields {

	.components-base-control {
		width: 100%;

		&__label {
			font-size: 14px;
			font-weight: 600;
		}

		&:last-of-type {
			margin-bottom: 4px;
		}
	}

	.themeplate-blocks-field {
		margin-top: 12px;
		padding-top: 4px;
		padding-bottom: 12px;
		border-bottom: 1px solid #ddd;

		&:first-of-type {
			margin-top: 0;
			padding-top: 0;
		}

		&:last-of-type {
			padding-bottom: 0;
			border-bottom: 0;
		}

		&.field-type-group {

			.components-panel__row {
				margin: 8px 0;
				padding: 12px;
				border: 1px solid #ddd;

				+ .components-panel__row {
					margin-top: 16px;
				}

				&:last-of-type {
					margin-bottom: 0;
				}
			}

			.components-base-control {
				margin-bottom: 0;
			}
		}
	}

	.themeplate-color-indicator {
		width: 184px;
		height: 36px;
		border-radius: 0;
	}
}

.wp-block-themeplate {
	&:not(.alignleft):not(.alignright):not(.alignfull):not(.alignwide) {
		max-width: none;
	}

	> .block-editor-inner-blocks {
		display: none;
	}
}
