/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.block-editor-block-inspector {

	.themeplate-blocks-field {
		margin-top: 12px;
		padding-top: 4px;
		padding-bottom: 12px;
		border-bottom: 1px solid #ddd;

		&:first-of-type {
			margin-top: -6px;
			padding-top: 12px;
			border-top: 1px solid #ddd;
		}

		&:last-of-type {
			padding-bottom: 0;
			border-bottom: 0;
		}

		.components-base-control {
			width: 100%;

			&:last-of-type {
				margin-bottom: 4px;
			}
		}

		&.field-type-group {

			.components-panel__row {
				margin: 8px 0;
				padding: 12px;
				border: 1px solid #ddd;

				+ .components-panel__row {
					margin-top: 16px;
				}

				&:last-of-type {
					margin-bottom: 0;
				}
			}

			.components-base-control {
				margin-bottom: 0;
			}
		}

		&.field-type-separator {
			min-height: 0;
			padding-top: 0;
			border-bottom: 0;
		}
	}

	.themeplate-color-indicator {
		width: 184px;
		height: 36px;
		border-radius: 0;
	}

	.themeplate-image {
		aspect-ratio: 1;
		max-height: 222px;
		object-fit: contain;
	}
}

.wp-block-themeplate {
	z-index: 1;

	> .block-editor-inner-blocks {
		display: none;
	}
}
